body {
  
    background-color: black;

  background-image: url("");
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 8em;
  margin-right: 4em;
  margin-left: 7em;
  margin-bottom: 3em;
}


.left-menu h1 {
 font-family: Courier, monospace;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
 
}

.left-menu h2 {
    list-style: none;
 
  font-family: Courier, monospace;
  color: white;
  font-size: 20px;
  color: white;
     position: relative;
  top: 0%;
  width: 100%;
    text-align: center;
}

.left-menu a {
    text-decoration: none;
    color: white;
  padding:100px;
}


