body {
  
    background-color: black;

  background-image: url("");
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 8em;
  margin-right: 4em;
  margin-left: 7em;
  margin-bottom: 3em;
}




.left-menu h1 {
  font-family: Courier, monospace;
  color: white;
  font-size: 25px;
    margin-top: 0;
}

.left-menu ul {
    list-style: none;
    padding: 0;
     margin-left: 5em;
}

.left-menu li {
  font-family: Courier, monospace;
  color: white;
  font-size: 20px;
  color: white;
    margin-bottom: 10px;
}

.left-menu a {
    text-decoration: none;
    color: white;
}

.right-content {
    width: 80%; 
    padding: 20px;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.right-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 0; 
    margin-left: 0; 
}
